body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background-image: url("/images/background1.jpg");
}

p.header {
    text-align: center;   
    Font: "Times";
    font-size: 30px;
    font-style: normal;
    background-color: #3fb6d1;
}

p.body {
    text-align: center;
    Font: "Arial";
    font-size: 20px;
    font-style: "italics";
}

p.subheader {
    text-align: center;
    color: #a83297;
    font-size: 20px;
}

p.subbody {
    text-align: right;
    color: blue;
}

h1,h2 {
    text-align: center;
    color: green;
}
