body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background-image: url("/images/background1.jpg");
}

p.header {
    text-align: center;   
    Font: "Times";
    font-size: 30px;
    font-style: normal;
    background-color: #3fb6d1;
}

p.caption {
    text-align: center;   
    Font: "Times";
    font-size: 18px;
    font-style: normal;
    background-color: white;
    width: 350px;
    height: 20px; 
    border-radius: 5px 20px 5px;
    
}

p.body {
    text-align: center;
    Font: "Arial";
    font-size: 20px;
    font-style: "italics";
}

p.subheader {
    text-align: center;
    color: #a83297;
    font-size: 20px;
}

p.subbody {
    text-align: right;
    color: blue;
}

h1,h2 {
    text-align: center;
    color: green;
}


.boxed {
    border: 1px solid green;
    width: 350px;
    height: 100px; 
    background-color: rgb(240, 162, 188);
    border-radius: 25px;
    padding: 20px;
    align-self: center;
    font-size: 20px;
  }

img{
    border-radius: 50%;
}